.setCard{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 30px;;
}
#profileCard{
    display: none;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #8670e9;
    margin-bottom:15px;
    width:80%;
    height: 200px;
    border-radius: 15px;
}
.setCard img{
    border-radius: 50%;
    padding: 10px;
	max-width: 50px;
	min-width: 50px;
	height: 50px;
}
.setCard .innerHtml{
    color:white;
}
.clickButton{
    color:white;
    background-color:transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.openArrow{
    margin-left :10px;
    border-radius: 50%;
    display: flex;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #ad9cf8;
    transform: rotate(180deg);
}
.closeArrow{
    margin-left :10px;
    border-radius: 50%;
    display: flex;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color:  #876df8;
    /* transform: rotate(-180deg); */
}