.App {
	width: 100vw;
	height: 100vh;
	/* background-color: #EAEFFA; */
	display: flex;
    justify-content: center;
    align-items: center;
}

body {
	margin: 0%;
	padding: 0%;
}
.colors-palette{
 color :  #EAEFFA;
 color :  #A7B6D6;
 color :  #6345E9;
 color :  #B5BBD1;
 color :  #2C37AE;
 color :  #C75392;
 color :  #A1555E;
}