.setCard{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;;
 }
 
 .card{
     position:absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     margin-top:300px;
     margin-left: 200px;
     width:200px;
     height: 200px;
     z-index: 10;
     opacity: 90%;
     border-radius: 5px;
 }
 .setCard img{
     border-radius: 50%;
     padding: 10px;
     max-width: 50px;
     min-width: 50px;
     height: 50px;
 }
 .setCard .innerHtml{
     color:white;
 }
 .clickButton{
     color:white;
     background-color:transparent;
     border: none;
     cursor: pointer;
     margin-bottom: 20px;
     display:flex;
     flex-direction: row;
     align-items: center;
 }
 .openArrow{
     margin-left :10px;
     border-radius: 50%;
     display: flex;
     max-width: 30px;
     min-width: 30px;
     height: 30px;
     justify-content: center;
     align-items: center;
     background-color: #ad9cf8;
     color:white;
     transform: rotate(180deg);
 }
 .closeArrow{
     margin-left :10px;
     border-radius: 50%;
     display: flex;
     max-width: 30px;
     min-width: 30px;
     height: 30px;
     justify-content: center;
     align-items: center;
     background-color:  #876df8;
     color:white;
 }