.chatHeader{
    font-family:  Impact, fantasy;
    letter-spacing: 3px;
    width: 100%;
    height: 70px;
    display : flex;
    flex-direction: row;
    background-color: gray;
    align-items: center;
    border:none;
    cursor: pointer;
    outline: none;
    
}

.chatHeader img {
    margin-left: 10px;
    border-radius: 50%;
    width:50px;
    height:50px;
}
.chatHeader .info{
    display: flex;
    flex-direction: column;
    margin-left:10px;
}
.chatHeader .info .online{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: green;
}
.chatWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color:white;
    /* color :white; */
}
.buttonSetting{
    min-width: 50px;
    min-height: 50px;
    border:none;
    background-color: white;
    color :black;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    border-radius: 50%;
}


/* invitation ui */
.backdrop{
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}
 .card{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 50%;
    max-width: 500px;
    height: 50%;
    max-height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color:white;
    
}
.card .close{
     display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.card .close i{
    color:white;
    opacity: 50%;
    font-size:30px;
    cursor: pointer;
    
}
 .card .close i:hover{
    opacity: 100%;
}
.cardContent{
    font-family: "Gill Sans", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-top: 40px;
}
.choices .buttons{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
    border: none;
}

#cross{
    color :darkred;
    background-color: lightcoral;
}
#check{
    color:green;
    background-color: lightgreen;
    
}

/* for the buttons and info  */

.userHandler{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:220px;
    margin-right: 30px;
    width:200px;
    height: 200px;
    opacity: 80%;
}

.button{
    font-family:  Impact, fantasy;
    min-height: 50px;
    width: 100%;
    border:none;
    background-color:dimgray;
    border: 2px  solid black;
    color :black;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}
.button:hover{
    background-color: gray;
}