.messageCard {
	display: flex;
	flex-direction: row;
	color: black;
	margin-left: 20px;
	margin-bottom: 15px;
	width: 100%;
}
.messageCard .info{
	display:flex;
	flex-direction: column;
}
.messageCard .nameDate{
	display: flex;
	flex-direction: row;
}
.messageCard img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 20px;
}
.messageCard .info .nameDate div{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}