.friendButton{
    font-family:  Impact, fantasy;
    letter-spacing: 3px;
    width:95%;
    height: 50px;
    text-align: left;
    /* border-radius: 10px; */
    border:none;
    background-color: lightgray;
    margin-top: 10px;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.friendButton .profileImg{
    border-radius: 50%;
    width:40px;
    height: 40px;
    border:3px solid rgb(223, 221, 221);
}
.friendButton .profileInfo{
    display:flex;
    flex-direction: column;
    margin-left:5px;
    margin-top: 5px;
}

.friendButton:hover{
    width:250px;
    box-shadow: rgba(255, 253, 253, 0.25) 0px 54px 55px, rgba(197, 193, 193, 0.12) 0px -12px 30px, rgba(212, 212, 212, 0.12) 0px 4px 6px, rgba(117, 117, 117, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}