@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https:fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


.card {
    /* position: relative;
    display: flex;
    top: 20%;
    max-width: 999px;
    margin: auto;
    margin-top: 100px;
    width: 95%;
    height: 500px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
    font-family: 'Press Start 2P';
    letter-spacing: 3px; */
    letter-spacing: 3px;
    font-family: 'Press Start 2P';
    background: black;
    color: white;
    width: 60%;
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
}

.contributorBox {
    background-color: black;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 4px solid white;
}



.contributorBox h6 {
    margin-top: 200px;
    font-size: 7px;
}

.contributorBox i {
    color: #EC1840;
}

.field {
    margin: auto auto;
    width: 400px;
    height: 200px;
    position: relative;
    top: 20%;
}

.pad {
    width: 0;
    height: 100%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.ping,
.pong {
    width: 4px;
    height: 25px;
    position: absolute;
    background: white;
}

.ping {
    left: 6%;
    animation: ping 6s infinite linear;
}

.pong {
    right: 6%;
    animation: pong 6s infinite linear;
}

.ball {
    width: 5px;
    height: 5px;

    position: absolute;
    background: white;

    animation: ball 6s infinite linear;
}


@keyframes ball {
    0% {
        /*  start in the middle */
        top: 34%;
        left: 52%;
    }

    8.3% {
        /* pong */
        top: 52%;
        left: 90%;
    }

    24.9% {
        /* ping */
        top: 85%;
        left: 8%;
    }

    30% {
        top: 98%;
        left: 27%;
    }

    41.5% {
        /* pong */
        top: 70%;
        left: 90%;
    }

    58.1% {
        /* ping */
        top: 55%;
        left: 8%;
    }

    74.7% {
        /* pong */
        top: 13%;
        left: 90%;
    }

    79% {
        top: 1%;
        left: 70%;
    }

    91.3% {
        /* ping */
        top: 22%;
        left: 8%;
    }

    100% {
        /* back to center */
        top: 34%;
        left: 52%;
    }
}

@keyframes ping {

    /*  left player */
    0% {
        top: 10%;
    }

    5% {
        top: 10%;
    }

    9% {
        top: 24%;
    }

    13% {
        top: 17%;
    }

    24.9% {
        /* tap */
        top: 82%;
    }

    47% {
        top: 37%;
    }

    52% {
        top: 41%;
    }

    56% {
        top: 64%;
    }

    58.1% {
        /* tap */
        top: 54%;
    }

    70% {
        top: 74%;
    }

    84% {
        top: 12%;
    }

    91.3% {
        /* tap */
        top: 18%;
    }

    100% {
        top: 10%;
    }
}

@keyframes pong {

    /* right player */
    0% {
        top: 90%;
    }

    8.3% {
        /* tap */
        top: 51%;
    }

    20% {
        top: 60%;
    }

    25% {
        top: 34%;
    }

    41.5% {
        /* tap */
        top: 68%;
    }

    46% {
        top: 36%;
    }

    52% {
        top: 18%;
    }

    58.1% {
        top: 53%;
    }

    66% {
        top: 14%;
    }

    70% {
        top: 20%;
    }

    74.7% {
        top: 10%;
    }

    91.3% {
        /* tap */
        top: 10%;
    }

    100% {
        top: 90%;
    }
}

.dev {
    display: flex;
    justify-content: space-around;
}

.devLink {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 2px solid red;
}

.LoginBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginButton {
    font-family: 'Press Start 2P';
    margin: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    transition: 0.5s;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.LoginButton a {
    text-decoration: none;
    color: black;
}

.LoginButton:hover {
    border: 7px solid black;
    background-size: 180px;
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -480px;
    }
}