.chatCard{
    width: 90%;
    height: 95%;
    display: flex; 
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;;
}
.chatCard .chatContent{
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 200px);
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.chatCard .chatContent .chatFooter{
    display: flex;
    flex-direction: row;
    width:95%;
    height: 40px;
    border: none;
    outline: none;
    background-color:gray;
    margin-bottom: 20px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}
.chatFooter input{
    width:95%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color:black;
    font-size: 18px;
    outline: none;
    background-color:transparent;

}
.chatFooter button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 0;
	cursor: pointer;
	height: 100%;
    width: 5%;
	background: transparent;
	outline: none;
	font-size: 25px;
	color: black;
}

.chatMessages{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.chatContent .chatMessages::-webkit-scrollbar {
	background: white;
	border-radius: 10px
}

.chatContent .chatMessages::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 10px;
	width: 1px;

}

.chatFooter input::-webkit-input-placeholder {
    color: black;
  }