.info{
    display:  flex;
    flex-direction: column;
    margin-top: 25px;
}

.info .inputs{
    font-family: 'Overpass', sans-serif;
    color: #384864;
    background: transparent;
    border: 2px solid #384864;
    border-radius: 10px;
    padding: 15px 0 15px 15px ;
    font-size: larger;
    outline: none;
    width: 100%;
}
