
.nav{
    min-width: 300px;
    max-width: 100px;
    background-image: linear-gradient(to bottom,#9b88f0,#343eb3);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.nav .barContent{
    display: flex;
    flex-direction: column;
    min-width: 270px;
    max-width: 90px;
}

.nav .barContent button{
    width: 100%;
	height: 50px;
	border: none;
	font-size: 16px;
	color: white;
	cursor: pointer;
    align-items: center;
	background-color: transparent;
    text-align: left;
    opacity: 70%;
}
.nav .barContent button:hover{
    background-color: #9d8de4;
    opacity: 100%;
}

.nav .icons {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    
}
.link{
	text-align: left;
	font-size: 18px;
    text-decoration: none;
}
.logout {
    display: flex;
    flex-direction: column;
    height: 67%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    /* background-color: white; */
}

.logout button{
    width:80%; 
    height: 40px;
    background-color: firebrick;
    color:white;
    font-weight: 600;
    border:none;
    cursor: pointer;
}

.logout button:hover{
    background-color: rgb(187, 68, 68);
}