.channelButton{
    font-family:  'Overpass', sans-serif;
    letter-spacing: 3px;
    min-width:65%;
    height: 50px;
    border-radius: 6px;
    background-color: #384864;
    box-shadow: rgb(204,149,62) 0px 2px 5px, rgba(250, 189, 93, 0.001) 0px 1px 2px;
    color:  rgb(204,149,62);
    margin-bottom: 10px;
    padding: 29px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channelButton .channelImg{
    border-radius: 50%;
    width:40px;
    height: 40px;
    border:3px solid rgb(223, 221, 221);
}
.channelButton .channelInfo{
    display:flex;
    flex-direction: column;
    margin-left:5px;
    margin-top: 5px;
}

.channelButton:hover{
    background-color: rgba(255, 253, 253, 0.25);
    color:rgb(204,149,62);
}

@media screen and (max-width: 700px){
    .channelButton{
       flex-direction: column;
       width: 100%;
       height: 10%;
    }
    .profileInfo{
        align-items: center;
    }
    .channelButton:hover{
        box-shadow: none;
        /* width: 90px; */
        background-color: white;
    }
}
@media screen and (max-width: 700px) {
    .channelButton{
        height: 100px;
        justify-content: center;
        align-items: center;
    }
}