.mainCard {
    height: 80vh;
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.mainCard .channelList {
    width: 40%;
    height: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px
}

.mainCard .channelList input {
    width: 95%;
    height: 25px;
    border: none;
    background-color: lightgray;
    color: black;
    outline: none;
    padding-left: 5px;
}

.mainCard .channelList .createChannel {
    display: flex;
    flex-direction: row;
    letter-spacing: 3px;
    font-family: 'Press Start 2P';
    background: #384864;
    color: rgb(204,149,62);
    margin-bottom: 50px;
    margin-left: 20px;
    margin: 50px 0 50px 50px;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(204,149,62) 0px 2px 5px, rgba(250, 189, 93, 0.001) 0px 1px 2px;
}

.createChannel:hover {
    background-color: white;
}

.createChannel i {
    color: gray;
    opacity: 50%;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.createChannel .text {
    font-weight: 500;
}

.privateDiv {
    font-family: Impact, fantasy;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    text-align: center;
}

.privateCard {

    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    height: 20%;
    background-color: rgb(46, 46, 46);
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 6px solid lightgray;
}

.passwordDiv {
    font-family: Impact, fantasy;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.password {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    height: 20%;
    background-color: rgb(46, 46, 46);
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 6px solid lightgray;
}

.password input {
    border-radius: 5px;
    border: 2px solid gray;
    margin-top: 5px;
    height: 30px;
    width: 70%;
}

.password button {
    font-family: Impact, fantasy;
    letter-spacing: 3px;
    font-size: 16px;
    border: 2px solid lightgray;
    background-color: rgb(46, 46, 46);
    ;
    margin-top: 5px;
    height: 30px;
    width: 30%;
    cursor: pointer;
    color: lightgray;
}