.info{
    display:  flex;
    flex-direction: column;
    margin-top: 25px;
}

.info .inputs{
    border-radius: 5px;
    border:  2px  solid gray;
    margin-top: 5px;
    height: 30px;
    background-color: gray;
}
