.info{
    display:  flex;
    flex-direction: column;
    margin-top: 25px;
}

.info .inputs{
<<<<<<< HEAD
    border-radius: 5px;
    border:  2px  solid gray;
    margin-top: 5px;
    height: 30px;
    background-color: gray;
=======
    font-family: 'Overpass', sans-serif;
    color: #384864;
    background: transparent;
    border: 2px solid #384864;
    border-radius: 10px;
    padding: 15px 0 15px 15px ;
    font-size: larger;
    outline: none;
    width: 100%;
>>>>>>> 7d93243dee28086c50c910fb8af93d0fc1285713
}
