
.nav{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    /* width: 100vw; */
    color: white;
}
.nav .barContent{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav  button{
    font-family:  Impact, fantasy;
    letter-spacing: 3px;
	height: 70px;
	border: none;
	font-size: 16px;
	color: white;
	cursor: pointer;
    align-items: center;
    justify-content: center;
	background-color: gray;
    opacity: 70%; 
}
.nav  button:hover{
    background-color: gray;
    opacity: 100%;
}

.nav .icons {
    margin-right: 10px;
    font-size: 20px;
    
}
.link{
	text-align: left;
	font-size: 18px;
    text-decoration: none;
    /* width: 25%; */
}
