.Admins{
    display: flex; 
    flex-direction: column;
    max-height: 310px;
    min-height: 310px;
    width: 97%;
    padding: 10px;
    border-radius: 10px;
    color:white;
    font-family: "Gill Sans", sans-serif;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.AdminsCard{
    font-family:  Impact, fantasy; 
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px; 
    align-items: center;
    border-top: 1px solid lightgray;
    background-color:darkgrey;
    font-family: "Gill Sans", sans-serif;
}
.AdminImage{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.AdminsCard .buttons {
    display:flex;
    flex-direction: row;
    width :100%;
    justify-content: flex-end;
}
.AdminsCard .buttons button{
    font-family:  Impact, fantasy;
    letter-spacing: 3px;
    margin:10px;
    border: none;
    color: rgb(46, 46, 46); 
    width:15%;
    height: 40px;
    cursor: pointer;
}
