.Admins{
    display: flex;
    flex-direction: column;
    max-height: 310px;
    min-height: 310px;
    width: 97%;
    padding: 10px;
    border-radius: 10px;
    color:white;
    font-family: "Gill Sans", sans-serif;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.AdminsCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px; 
    align-items: center;
    border-top: 1px solid lightgray;
    background-color:darkgrey;
    font-family: "Gill Sans", sans-serif;
}
.AdminImage{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}