.messageCard {
	display: flex;
	font-family:  Impact, fantasy;
	letter-spacing: 3px;
	flex-direction: row;
	color: black;
	margin-left: 20px;
	margin-bottom: 15px;
	width: 100%;
}
.messageCard .info{
	display:flex;
	flex-direction: column;
}
.messageCard .nameDate{
	display: flex;
	flex-direction: row;
	color: gray;
}
.messageCard img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding: 20px;
}
.messageCard .info .nameDate div{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.messageCard  .msgContent {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	width: 500px;
}