@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:wght@500&family=Outfit:wght@100;500&family=Press+Start+2P&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .info {
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
}

.container .btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-family: 'Press Start 2p';
    font-size: 30px;
    padding: 15px 10px 15px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 7px;
    box-shadow: 0 0.2em grey;
    cursor: pointer;
}

.container .btn:active {
    user-select: none;
	box-shadow: none;
	position: relative;
	top: .2em;
}