@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:wght@500&family=Outfit:wght@100;500&family=Press+Start+2P&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .info {
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
}

 /* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }