.home{
    display:flex;
    flex-direction: column;
    margin-top:20px;
    align-items:  center;
    justify-content: center;
}
.home input{
    width:100%;
    height: 40px;
    border: none;
    background-color: lightgray;
    color:black;
    outline: none;
    padding-left:5px;
}
.home input::-webkit-input-placeholder {
    color: black;
  }
.home .navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.home .navBar button{
    font-family:  Impact, fantasy;
    letter-spacing: 3px;
    font-size: 18px;
    margin:10px;
    margin-top:30px;
    border: none;
    background-color: rgb(46, 46, 46); 
    border: 3px solid lightgray;
    width:90%;
    height: 40px;
    color :white;
    cursor: pointer;
}
.home .navBar button:hover{
    background-color: lightgray;
    color :black;
}
.home .list{
    display:flex;
    flex-direction: column;
    width:90%;
    height:100%;
}
.home .onlineCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 70px;
    /* background-color: white; */
    align-items: center;
}
.home .onlineCard img{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
