.chatCard {
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
    margin-right: 10px;
    ;
}

.chatCard .chatContent {
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.chatCard .chatContent .chatFooter {
    display: flex;
    flex-direction: row;
    width: 95%;
    outline: none;
    justify-content: space-between;
    height: 6%;
    align-items: center;
}

.chatFooter input {
    width: 90%;
    height: 40px;
    font-family: 'Overpass', sans-serif;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px 0 15px 15px;
    font-size: larger;
    outline: none;

}

.chatFooter button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 5%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: white;
}

.chatMessages {
    overflow: scroll;
    /* overflow-x: hidden; */
    width: 100%;
}

.chatContent .chatMessages::-webkit-scrollbar {
    background: white;
    border-radius: 10px
}

.chatContent .chatMessages::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    width: 1px;

}

.chatFooter input::-webkit-input-placeholder {
    color: black;
}