@keyframes gradient {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 100% 0
    }
}



.box {
    flex-grow: 1;
    height: 100vh;
    position: absolute;
    top: 40%;
    width: 100vw;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: #D4D4D4;
    opacity: 0.8;

}

.container:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #8D0000, #D4D4D4, #656464, #8D0000, #656464, #D4D4D4);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.twofactAuthInput {
    flex-grow: 1;
    color: #656464;
    font-family: 'Press Start 2P';
    border-radius: 20%;
    border-style: none;
    background: transparent;
    outline: none;

}

.twofactAuthInput::placeholder {
    color: #8D0000;
}

.twofactAuthBtn {
    font-family: 'Press Start 2P';
    color: #656464;
    vertical-align: middle;
    transition: color .25s;
    padding: 0;
    background: none;
    border: none;
    outline: none;

}

.twofactAuthBtn:hover {
    color: #8D0000;
}